.navbar {
  header {
    background-color: #3a4756;
  }

  .navbar-title {
    flex-grow: 1;
  }

  .github-link {
    color: white;
    margin-right: 60px;
  }

  .user-button {
    padding: 4px;

    .user-icon {
      width: 40px;
      height: 40px;
    }
  }
}
